<% layout('layouts/boilerplate')%>
<% const renderNotes = (entry, type) => { %>
    <% const renderType = `${type === 'done' ? 'Finished Tasks' : type === 'todo' ? 'To Do' : type === 'note' ? 'Notes' : '' }` %>
    <h3><%= renderType %></h3>
    <ul>
        <% for (note of entry.notes.filter(note => note.type === type)) { %>
        <li>
            <form id="<%= note.type %>" action="/notes/<%= note._id %>/edit/<%= entry._id %>" method="POST">
                
                <div id="n<%= note._id %>">
                    
                    <span class="note-title"><%= note.title %></span>
                     | 
                    <span class="note-type">
                        <%= note.type === 'todo' ? 'To Do' : note.type.charAt(0).toUpperCase() + note.type.slice(1) %>
                    </span>
                     | 
                    <span class="note-edited"><%= note.lastEdit ? `${type === 'done' ? 'Completed' : 'Last Edit'} at ${ new Date(note.lastEdit).toString().slice(16,-33) }` : `Created at ${new Date(note.createdAt).toString().slice(16,-33) }` %></span>
                           
                <button class="render">Edit</button>
                </form>
                    <form method="POST" action="/notes/<%- note._id %>/delete/<%- entry._id %> %>">
                        <button>Delete</button>
                    </form>
                    <% if (type === 'done') { %>
                    <form method="POST" action="/notes/<%- note._id %>/archive/<%- entry._id %>">
                        <button>Archive</button>
                    </form>
                    <% } else if (type === 'todo') { %>
                    <form method="POST" action="/notes/<%= note._id %>/complete/<%- entry._id %>">
                        <button>Flag Done</button>
                    </form> 
                    <% } else if (type === 'note') { %>
                    <form method="POST" action="/notes/<%= note._id %>/flag/<%- entry._id %>">
                        <button>Make To Do</button>
                    </form>
                    <% } %>
                    <br />
                    <p>
                    <%= note.message %>
                    </p>
        </li>
        <% } %>
    </ul>
<% } %>

<div>
    <h1>Hello <%= currentUser.username %>,</h1>
    <h3>Clocked In As Of <%= new Date(entry.in).toString().slice(0,-33) %></h3>
</div>
<div>
<%- renderNotes(entry, 'done')%>
<%- renderNotes(entry, 'todo')%>
<%- renderNotes(entry, 'note')%>
    <form action="/notes/<%= entry._id %>" method="POST">
        <h3>Create Note</h3>
        <ul>
            <li><%- include('../partials/create-note') %></li>
        </ul>
    </form>
</div>
<div>
    <form method="POST" action="/clock/out/<%= entry._id %>">
       <button>Clock Out</button>
    </form>
</div>
<script src="/scripts/renderEdit.js"></script>